body {
    background-color: #DADADA;
   
    font-family: 'Montserrat';
  
  }
  header {
      position: absolute;
      width: 1920px;
      height: 100px;
      left: 0px;
      top: 0px;
  
      background: #300006;
  } 
  button {
      margin-top: 10px;
  }
  .botao{
      display: flex;
      flex-direction: column;
    
  }
  #botao2 {
    position: relative;
    left: 250px;
  }
  
  #perg {
      top: 200px;
      position: absolute;
      width: 50%;
      margin-left: 8px;
  }
  
  #painel {
      position: absolute;
      width: 98px;
      height: 37px;
      left: 50px;
      top: -15px;
  
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      /* identical to box height */
  
  
      color: #ebebeb;
  }
  #back {
    left: -5px;
    top: 10px;
  }

  .menu-link {
      text-decoration: none;
      color: #ebebeb;
      padding: 30px;
      position: relative;
      left: 400px;
      top: 8px;       
    }
    
    .menu-link:hover {
      background-color: #c4c4c4;
    }
    
    .menu-text {
      display: inline-block;
      margin-right: 5px;
    }
    
   
  
  #voltar {
      position: relative;
      left: 1100px;
  }
  
  ul {
      position: relative;
      top:200px;
      left:100px;
      list-style: none;
      background-color: #a5a5a5;
      width: 11%;
  }
  
  li {
      text-align: center;
      padding: 20px;
  }
  
  .table-container {
      height: 100vh;
    }
  #te {
    width: 500px;
  }
  
table {
      position:relative;
      left:500px;
      top: -710px;
      border: 1px solid #ebebeb;
      border-radius: 20px;
      background-color: #ebebeb;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      
}
  
  td {
    width: 300px;
    padding:65px;
    
  }
 
  
  
  
  td.outro {
      background-color: #c4c4c4; /* Cor de fundo desejada */
      padding: 20px; /* Espaçamento interno */
      width: 250px;
      border-radius: 15px;
      
    }
  
  textarea {
    width: 300px;
    height: 50px;
    
  }
  
  #tituloperg {
    text-align: center;
    padding: 20px;
  }
  #tituloperg2 {
    padding: 30px;
  }
  
  .nav {
    height: 120px;
    width: 170px;
    background-color: lightgrey;
    border-radius: 25px;
    margin-left: -20px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
input {
    width: 400px;
    height: 30px;
    background-color:#DADADA;
}


img {
  position: relative;
  left: -1px;
  top: 6.5px;
}

button {
  
  border-radius: 20px;
  border-color: red;
}

button:hover {
  color:red;
}

.editar {
  border-color: green;
}

.editar:hover {
  color: green;
}

.user-profile {
  position: relative;
  right: 1px;
  top: 10px;
  
}