body {
  background-color: #dadada;
  font-family: 'Montserrat';
  
}
header {
    position: absolute;
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;

    background: #300006;
} 


li {
  text-align: center;
  padding: 20px;
  
}


#painel {
    position: absolute;
    width: 98px;
    height: 37px;
    left: 50px;
    top: -15px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */


    color: #FFFFFF;
}

#back {
  left: -5px;
  top: 10px;
}
img {
  position: relative;
  left: -1px;
  top: 6.5px;
}
.menu-link {
    text-decoration: none;
    color: #333;
    padding: 30px;
    position: relative;
    left: 400px;
    top: 8px;       
  }
  
  .menu-link:hover {
    background-color: #C4C4C4;
  }
  
  .menu-text {
    display: inline-block;
    margin-right:5px;
    color: #ebebeb;
    
    
  }
  
 
#voltar {
    position: relative;
    left: 1100px;
}

ul {
    
    position: relative;
    top:200px;
    left:100px;
    list-style: none;
    background-color: #a5a5a5;
    width: 11%;
}

li {
    
    padding: 20px;
}

#te {
  width: 500px;
}

table {
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

td {
  padding:65px;
  
}
.nav {
  height: 120px;
  width: 170px;
  background-color:lightgray;
  border-radius: 25px;
  margin-left: -20px;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


td.outro {
    background-color: #c4c4c4; /* Cor de fundo desejada */
    padding: 20px; /* Espaçamento interno */
    width: 250px;
    border-radius: 15px;
    
  }

button {
  
  border-radius: 20px;
  border-color: red;
}

button:hover {
  color:red;
}


.user-profile {
  position: relative;
  right: 1px;
  top: 10px;
  
}

.editar {
  border-color: green;
}

.editar:hover {
  color: green;
}

.table-container {
  max-width: 1000px;
  max-height: 200px;
  overflow: auto;
  position: relative;
  top: -700px;
  left: 440px;
}
#tabela2 {
  max-height: 300px;
  overflow: auto;
  position: relative;
  top: -500px;
  left: 440px;
}




