  img {
    width: 150px;
    height: 100px;
    margin-left: 40px;
    margin-bottom: -60px;
  }
  .maintitle {
    text-align: center;
    color: white;
  }
  .logo {
    background-color: rgb(0, 0, 0);
    color: white;
  }
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
.footer{
  background-color: black;
  text-align: center;
  color: white;
  }
.freq{
  background-color: black;
  border-radius: 100px;
  }

  h1 {
    
    text-align: center;
    color: rgb(247, 243, 243);
    font-size: 36px;
  }

  .accordion-item {
    border-bottom: 1px solid #ccc;
  }

  .accordion-item-header {
    background-color: black;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
  }

  .accordion-item-header:hover {
    background-color: grey;
  }

  .accordion-item-content {
    padding: 10px;
    font-size: 16px;
  }

  .fundosite{
    background-color: lightgrey;
  }

  body {
    font-family: 'Montserrat';
  }